<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #323336;
    }
    </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>

<div class="container">
    {% for review in reviews %}
    <div class="nature">
        <img  src={{review.web}}  />
        <h1>{{review.title}}</h1>
        <p>{{review.description}}</p>
      
    </div>
    {% endfor %}
</div>
<script>
    w3.slideshow(".nature", 3000);
    </script>
</body>
</html>
